.swiper-container .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
   
    left: 29%;
    bottom: 0px;
    height: 10px;
    width: 611px;
  
    
}


.swiper-container  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal .swiper-scrollbar-drag{
    background:#662773
 ;
}